solve 3d7
init a A
init b A
init c 0

. . . . 0 .
. . < a = .
? @ d . S .
. 1 . . . .

. 10 .  . 10 .
d / .   b % .
. . .   . . .
? @ h   ? @ e
. 1 .   . 1 .

. 10 .  . e .
c * .   f + .
. . .   . . .
? @ f   ? @ g
. 1 .   . 1 .

. . . . A .
. . < g = .
? @ c . . /
. 1 . . . S

. . < h . .
? @ a v . .
. 1 . . . .
. . ? @ b .
. . . 1 . .
